# ignore the other files around
*.pdf
*.png
*.md
*.html

# dont want to save off the bin files.... 
# can use the scripts to generate them locally...
*.bin

# keep the readme
!README.md

# directories to ignore
/venv
__pycache__
# /scratch
/articles